<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h2>Enter your phrase:</h2>
    <form method="POST" action="/piglatinize">
      <label for="user_input">Input to Pig Latin</label><br>
      <input type="text" name="user_input">
      <input type="submit" name="submit" id="Submit"/>

    </form>

  </body>
</html>
